vmess = 127.0.0.1:443, method=chacha20-ietf-poly1305, password=20e92881-5fb4-4b05-bc77-57929476dc69, aead=true, obfs=wss, obfs-host=sharecentre.online, obfs-uri=/shirker, fast-open=false, udp-relay=true, tls-verification=true, tag=更多节点关注@fantasticsgame
vmess = cf-lt.sharecentre.online:443, method=chacha20-ietf-poly1305, password=20e92881-5fb4-4b05-bc77-57929476dc69, aead=true, obfs=wss, obfs-host=opc-jp.sharecentre.online, obfs-uri=/shirker, fast-open=false, udp-relay=true, tls-verification=true, tag=🇯🇵 「SCP」JP-蛋糕并不是谎言
vmess = cf-lt.sharecentre.online:443, method=chacha20-ietf-poly1305, password=20e92881-5fb4-4b05-bc77-57929476dc69, aead=true, obfs=wss, obfs-host=sg-gcore.sharecentre.online, obfs-uri=/shirker, fast-open=false, udp-relay=true, tls-verification=true, tag=🇸🇬 「SCP」SG-Gcore
vmess = cf-lt.sharecentre.online:443, method=chacha20-ietf-poly1305, password=20e92881-5fb4-4b05-bc77-57929476dc69, aead=true, obfs=wss, obfs-host=buyvm.sharecentre.online, obfs-uri=/shirker, fast-open=false, udp-relay=true, tls-verification=true, tag=🇺🇸 「SCP」US-BuyVM2
vmess = cf-lt.sharecentre.online:443, method=chacha20-ietf-poly1305, password=20e92881-5fb4-4b05-bc77-57929476dc69, aead=true, obfs=wss, obfs-host=us-dp2.sharecentre.online, obfs-uri=/shirker, fast-open=false, udp-relay=true, tls-verification=true, tag=🇺🇸 「SCP」US-DP2
vmess = cf-lt.sharecentre.online:443, method=chacha20-ietf-poly1305, password=20e92881-5fb4-4b05-bc77-57929476dc69, aead=true, obfs=wss, obfs-host=nl.sharecentre.online, obfs-uri=/shirker, fast-open=false, udp-relay=true, tls-verification=true, tag=🇳🇱 「SCP」NL-CF
vmess = cf-lt.sharecentre.online:443, method=chacha20-ietf-poly1305, password=20e92881-5fb4-4b05-bc77-57929476dc69, aead=true, obfs=wss, obfs-host=hk-gcore.sharecentre.online, obfs-uri=/shirker, fast-open=false, udp-relay=true, tls-verification=true, tag=🇭🇰 「SCP」HK-CF-Gcore
vmess = cf-lt.sharecentre.online:443, method=chacha20-ietf-poly1305, password=20e92881-5fb4-4b05-bc77-57929476dc69, aead=true, obfs=wss, obfs-host=lu.sharecentre.online, obfs-uri=/shirker, fast-open=false, udp-relay=true, tls-verification=true, tag=「SCP」LU-CF
vmess = cf-lt.sharecentre.online:443, method=chacha20-ietf-poly1305, password=20e92881-5fb4-4b05-bc77-57929476dc69, aead=true, obfs=wss, obfs-host=us-dp.sharecentre.online, obfs-uri=/shirker, fast-open=false, udp-relay=true, tls-verification=true, tag=🇺🇸 「SCP」US-DP
vmess = mncc.cf:443, method=chacha20-ietf-poly1305, password=20e92881-5fb4-4b05-bc77-57929476dc69, aead=true, obfs=wss, obfs-host=mncc.cf, obfs-uri=/shirker, fast-open=false, udp-relay=true, tls-verification=true, tag=🇺🇸 「SCP」US-BuyVM
vmess = cf-lt.sharecentre.online:443, method=chacha20-ietf-poly1305, password=20e92881-5fb4-4b05-bc77-57929476dc69, aead=true, obfs=wss, obfs-host=de-1.sharecentre.online, obfs-uri=/shirker, fast-open=false, udp-relay=true, tls-verification=true, tag=🇩🇪 「SCP」DE-CF1
vmess = cf-lt.sharecentre.online:443, method=chacha20-ietf-poly1305, password=20e92881-5fb4-4b05-bc77-57929476dc69, aead=true, obfs=wss, obfs-host=de-2.sharecentre.online, obfs-uri=/shirker, fast-open=false, udp-relay=true, tls-verification=true, tag=🇩🇪 「SCP」DE-CF2
vmess = cf-lt.sharecentre.online:443, method=chacha20-ietf-poly1305, password=20e92881-5fb4-4b05-bc77-57929476dc69, aead=true, obfs=wss, obfs-host=uk-1.sharecentre.online, obfs-uri=/shirker, fast-open=false, udp-relay=true, tls-verification=true, tag=🇬🇧 「SCP」UK-CF1
vmess = cf-lt.sharecentre.online:443, method=chacha20-ietf-poly1305, password=20e92881-5fb4-4b05-bc77-57929476dc69, aead=true, obfs=wss, obfs-host=uk-2.sharecentre.online, obfs-uri=/shirker, fast-open=false, udp-relay=true, tls-verification=true, tag=🇬🇧 「SCP」UK-CF2
vmess = cf-lt.sharecentre.online:443, method=chacha20-ietf-poly1305, password=20e92881-5fb4-4b05-bc77-57929476dc69, aead=true, obfs=wss, obfs-host=sg-1.sharecentre.online, obfs-uri=/shirker, fast-open=false, udp-relay=true, tls-verification=true, tag=🇸🇬 「SCP」SG-CF
vmess = cf-lt.sharecentre.online:443, method=chacha20-ietf-poly1305, password=20e92881-5fb4-4b05-bc77-57929476dc69, aead=true, obfs=wss, obfs-host=kr.sharecentre.online, obfs-uri=/shirker, fast-open=false, udp-relay=true, tls-verification=true, tag=🇰🇷 「SCP」KR-CF
vmess = cf-lt.sharecentre.online:443, method=chacha20-ietf-poly1305, password=20e92881-5fb4-4b05-bc77-57929476dc69, aead=true, obfs=wss, obfs-host=kh.sharecentre.online, obfs-uri=/shirker, fast-open=false, udp-relay=true, tls-verification=true, tag=「SCP」KH-CF
